# Virtual environment
envdjango/
venv/
ENV/
.venv/

# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Django & database
db.sqlite3
*.sqlite3
*.log

# Konfigurasi & environment variables
.env
*.ini
*.cfg
settings.py 

# Editor & OS-specific files
.vscode/
.idea/
.DS_Store
Thumbs.db

# file JSON di folder pdf_processing
apps/myuser/pdf_processing/brs-sheets-api.json
apps/myuser/pdf_processing/client_secrets.json

# drive_api.py
apps/myuser/pdf_processing/drive_api.py

static/uploads/

node_modules/


